---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Button from "../components/Button.astro";

const title = "Contact";
---

<Layout title={title} theme={"dark"}>
	<main class="m-auto max-w-screen-md px-4 flex flex-col gap-4">
		<h1 class="text-4xl font-bold text-center">{title}</h1>
		<form class="flex flex-col gap-4 rounded bg-black/10 p-4 shadow" action="/" method="GET">
			<label>Name <input type="text" name="name" /></label>
			<label>Email <input type="email" name="email" /></label>
			<textarea class="col-span-2" name="message" rows="5"></textarea>
			<Button>Send us a message!</Button>
		</form>
	</main>
	<Footer />
</Layout>

<style>
	label {
		@apply grid grid-cols-[3rem,1fr] items-center gap-4;
	}

	input,
	textarea {
		@apply w-full rounded bg-black/25 p-2;
	}
</style>
