---
import { Picture } from "@astrojs/image/components";
import background from "../../assets/images/desert-sunrise.jpg";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
export const meta = {
	title: "Home",
};
---

<Layout title="Home">
	<Picture
		class="absolute inset-0 object-cover w-full h-full -z-10"
		src={background}
		widths={[200, 400, 800]}
		sizes="(min-width: 640px) 640px, 100vw"
		alt="Desert Sunrise"
		aspectRatio={"16:9"}
		fit={"cover"}
		position={"center"}
	/>
	<Navbar />
	<main>
		<div class="absolute top-1/4 w-full">
			<div class="m-auto flex w-min flex-col justify-center gap-4">
				<h1 class="bg-gradient-to-r from-blue-800 to-red-800 bg-clip-text text-8xl font-bold text-transparent">
					uORocketry
				</h1>
				<h2 class="text-center text-4xl font-bold text-indigo-800">uOttawa's fastest team</h2>
				<p class="text-center text-2xl">
					Exploring the frontiers of science and engineering with every launch.
				</p>
				<button class="m-auto rounded bg-blue-800 py-2 px-4 font-bold text-white hover:bg-blue-600">
					Learn More
				</button>
			</div>
		</div>
	</main>
</Layout>
