---
import { Icon } from "astro-icon";

type Props = {
	theme: "light" | "dark";
};

const { theme } = Astro.props;
---

<footer class={`mt-6 flex flex-col gap-4 ${theme === "light" ? "text-indigo-900" : "text-indigo-100"}`}>
	<address class="text-center text-sm font-bold not-italic">
		<a href="https://goo.gl/maps/D17bVe32ksm7UZpV7" target="_blank" rel="noreferrer" class="block">
			University of Ottawa, 800 King Edward Ave, Ottawa, ON K1N 6N5
		</a>
	</address>
	<nav>
		<ul class="mb-6 flex justify-evenly gap-2">
			<li>
				<a href="https://github.com/uorocketry" target="_blank" rel="noreferrer">
					<Icon size={36} pack="mdi" name="github" />
				</a>
			</li>
			<li>
				<a href="https://facebook.com/uorocketry" target="_blank" rel="noreferrer">
					<Icon size={36} pack="mdi" name="facebook" />
				</a>
			</li>
			<li>
				<a href="https://instagram.com/uorocketry" target="_blank" rel="noreferrer">
					<Icon size={36} pack="mdi" name="instagram" />
				</a>
			</li>
			<li>
				<a href="https://youtube.com/channel/UC4GAfUiLrzu9buh9iqhPdxw" target="_blank" rel="noreferrer">
					<Icon size={36} pack="mdi" name="youtube" />
				</a>
			</li>
			<li>
				<a href="mailto:rocketry@uottawa.ca" target="_blank" rel="noreferrer">
					<Icon size={36} pack="mdi" name="email-outline" />
				</a>
			</li>
			<li>
				<a href="https://tiktok.com/@uorocketry" target="_blank" rel="noreferrer">
					<Icon size={36} pack="ic" name="round-tiktok" />
				</a>
			</li>
		</ul>
	</nav>
</footer>
