---
import { Icon } from "astro-icon";

type Props = {
	theme: "light" | "dark";
};

const { theme } = Astro.props;
---

<footer class={`mt-6 ${theme === "light" ? "text-indigo-900" : "text-indigo-200"}`}>
	<nav>
		<ul class="mb-6 flex justify-evenly gap-2">
			<li><a href="https://github.com/uorocketry"><Icon size={36} pack="mdi" name="github" /></a></li>
			<li><a href="https://facebook.com/uorocketry"><Icon size={36} pack="mdi" name="facebook" /></a></li>
			<li><a href="https://instagram.com/uorocketry"><Icon size={36} pack="mdi" name="instagram" /></a></li>
			<li>
				<a href="https://youtube.com/channel/UC4GAfUiLrzu9buh9iqhPdxw">
					<Icon size={36} pack="mdi" name="youtube" />
				</a>
			</li>
			<li><a href="mailto:rocketry@uottawa.ca"><Icon size={36} pack="mdi" name="email-outline" /></a></li>
		</ul>
	</nav>
</footer>
